<section>
    <app-user></app-user>
</section>
<!-- Composing Components -->

<!-- Bạn đã học cách cập nhật mẫu thành phần, 
logic thành phần và kiểu thành phần, nhưng làm thế nào 
để bạn sử dụng một thành phần trong ứng dụng của mình?

Thuộc tính bộ chọn của cấu hình thành phần 
cung cấp cho bạn một tên để sử dụng khi tham 
chiếu thành phần trong một mẫu khác. Bạn sử dụng 
bộ chọn như thẻ HTML, ví dụ, người dùng ứng dụng sẽ là 
<app-user /> trong mẫu.

Trong hoạt động này, bạn sẽ học cách soạn các thành phần. -->