@if (isLoggedIn) {
    <p>Welcom, Friend. The server is running now</p>
} @else {
    <p>Please log in to see the server status</p>
}
<!-- Control Flow in Components - @if -->

<!-- Quyết định hiển thị những gì trên màn hình 
cho người dùng là một nhiệm vụ phổ biến trong phát triển ứng dụng. 
Nhiều lần, quyết định được đưa ra theo chương trình 
bằng cách sử dụng các điều kiện.

Để thể hiện màn hình có điều kiện trong các mẫu, 
Angular sử dụng cú pháp mẫu @IF.

Trong hoạt động này, bạn sẽ học cách sử dụng các 
điều kiện trong các mẫu. -->